<h5>overflow: visible; を指定</h5>
<p class="sample" style="overflow: visible;">
かえるぴょこぴょこみぴょこぴょこ、あわせてぴょこぴょこむぴょこぴょこ。
</p>

<h5>overflow: hidden; を指定</h5>
<p class="sample" style="overflow: hidden;">
かえるぴょこぴょこみぴょこぴょこ、あわせてぴょこぴょこむぴょこぴょこ。
</p>

<h5>overflow: scroll; を指定</h5>
<p class="sample" style="overflow: scroll;">
かえるぴょこぴょこみぴょこぴょこ、あわせてぴょこぴょこむぴょこぴょこ。
</p>

<h5>overflow: auto; を指定</h5>
<p class="sample" style="overflow: auto;">
かえるぴょこぴょこみぴょこぴょこ、あわせてぴょこぴょこむぴょこぴょこ。
</p>

<h5>overflow: no-display; を指定</h5>
<p class="sample" style="overflow: no-display;">
かえるぴょこぴょこみぴょこぴょこ、あわせてぴょこぴょこむぴょこぴょこ。
</p>

<h5>overflow: no-content; を指定</h5>
<p class="sample" style="overflow: no-content;">
かえるぴょこぴょこみぴょこぴょこ、あわせてぴょこぴょこむぴょこぴょこ。
</p>

<h5>overflow: visible scroll; を指定</h5>
<p class="sample" style="overflow: visible scroll;">
かえるぴょこぴょこみぴょこぴょこ、あわせてぴょこぴょこむぴょこぴょこ。
</p>

<h5>overflow: scroll visible; を指定</h5>
<p class="sample" style="overflow: scroll visible;">
かえるぴょこぴょこみぴょこぴょこ、あわせてぴょこぴょこむぴょこぴょこ。
</p>

<style>
  p.sample {
    width: 200px; height: 50px;
    background-color: yellowgreen; 
  }
</style>