<div class="contents">
  <div class="navigation row">
    <div class="workspace-name col-3">
      <div class="name">
        ワークスペースネーム
      </div>
    </div>
    <div class="channel-name col-9">
      <div class="name">
        チャンネルネーム
      </div>
    </div>
  </div>
  <div class="main row">
    <div class="sidevar col-3">
      <div class="row">
        <div class="col-10">
          <h4>チャンネル</h4>
        </div>
        <div class="col-2">
          <h4>+</h4>
        </div>
      </div>
      <div class="channel-names">
        <% 30.times do |i| %>
          <p class="channel">
            <%= "# ROOM#{i}" %>
          </p>
        <% end %>
      </div>
    </div>
    <div class="mainvar col-9">
      <div class="messages">
        <% 50.times do |i| %>
          <p class="message">
            <%= "# message#{i}" %>
          </p>
        <% end %>
        <div class="message-input">
          <div class="input form-group">
            <%= text_area :content, nil, data: { behavior: 'room_speaker' }, class: "form-control", style: "width: 100%", rows: 5 %>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


<style>
  .contents {
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .navigation {
    height: 8%;
  }

  .workspace-name {
    background-color: #3F0E40;
    text-align: center;
    display: table;
    height: 100%;
    width: 100%;
    color: rgb(207, 195, 207);
  }

  .channel-name {
    text-align: center;
    display: table;
    height: 100%;
    width: 100%;
    border-bottom: thin solid #f5f5f5;
  }

  .name {
    display: table-cell;
    vertical-align: middle;
  }

  .main {
    height: 100%;
  }

  .sidevar {
    color: rgb(207, 195, 207);
    background-color: #3F0E40;
    height: 100%;
    overflow: auto;
    padding-bottom: 10%;

  }

  .mainvar {
    height: 100%;
    overflow: auto;
    padding-bottom: 30%;
  }

  .message-input {
    position: fixed;
    padding: 5px;
    width: 60%;
    top: 75%;
  }
</style>
