<% if user_signed_in? %>
  <p><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></p>
<% else %>
  <p><%= link_to 'ログイン', new_user_session_path %>してください。</p>
  <p>アカウントを持っていない方は<%= link_to 'サインアップ', new_user_registration_path %>してください。</p>
<% end %>
